[package]
name = "swarm-harness"
version = "0.1.0"
authors = ["Actyx AG"]
edition = "2018"

[dependencies]
actyx_sdk = { path = "../../../sdk", features = ["client", "arb", "with-tokio"] }
anyhow = "1.0.52"
async-global-executor = { version = "2.0.2", features = ["tokio"] }
async-process = "1.3.0"
async-std = "1.10.0"
async-trait = "0.1.52"
crypto = { path = "../../crypto" }
escargot = "0.5.7"
flate2 = "1.0.22"
futures = { version = "0.3.19", package = "futures" }
libipld = "0.12.0"
libp2p = { version = "0.42.2", default-features = false }
maplit = "1.0.2"
petgraph = "0.6.0"
quickcheck = "1.0.3"
reqwest = { version = "0.11.8", features = ["blocking"] }
structopt = "0.3.25"
swarm-cli = { path = "../cli" }
tar = "0.4.38"
tempdir = "0.3.7"
tokio = { version = "1.15.0", features = ["time"], package = "tokio" }
tracing = "0.1.29"
util = { path = "../../util" }

[target.'cfg(target_os = "linux")'.dependencies]
netsim-embed = "0.7.1"
