.idea
*.iml
Quokka.ts
**/.vscode/
node-red/**/publicDir
node_modules
.history
target/
.DS_Store
build/coverage
_book
.resin
.balena
ensime-langserver.log
pc.stdout.log
ops/docker/build
dist
secrets.yml
.metals/
.ensime*
**/obj
dotnet/**/bin
/node-red/
/pond/
/make-always
actyx-data
