.idea/
*.iml
.vscode/
node-red/**/publicDir
node_modules/
.history/
target/
.DS_Store/
.resin
.balena
ensime-langserver.log
pc.stdout.log
dist/
secrets.yml
.metals/
.ensime*
/make-always
actyx-data/
**/obj
dotnet/**/bin
pipeline-artifacts
