[package]
edition = { workspace = true }
name = "node-manager-bindings"
version = "0.1.0"
description = "Native Node.js bindings for interacting with Actyx nodes"
license = "ISC"
exclude = ["index.node"]

[lib]
crate-type = ["cdylib"]

[dependencies.neon]
version = "0.9.1"
default-features = false
features = ["napi-6", "event-queue-api"]

[dependencies]
ax = { path = "../ax" }
actyx_sdk = { path = "../../sdk" }
certs = { path = "../certs" }
settings = { path = "../settings" }
util = { path = "../util" }
anyhow = "1.0.52"
tokio = { version = "1.15.0", features = ["full"], package = "tokio" }
once_cell = "1.9.0"
futures = { version = "0.3.19", package = "futures" }
serde = "1.0.133"
serde_json = "1.0.74"
libp2p = "0.50.0"
