# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependency directories
/node_modules

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage directory used by tools like istanbul
/coverage

# Default build output
/lib

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.DS_Store

# Output of 'npm pack'
*.tgz

# VS code
*.vs
!.vscode
