[package]
name = "swarm"
version = "0.1.0"
authors = ["Actyx AG"]
edition = "2018"

[dependencies]
actyx_sdk = { features = ["sqlite", "arb"], path = "../../sdk" }
anyhow = { version = "1.0.52" }
ax-futures-util = { path = "../ax-futures-util" }
banyan = "0.17.1"
cbor-data = { version = "0.8.15", features = ["libipld14"] }
crossbeam = "0.8.1"
crypto = { path = "../crypto" }
derive_more = "0.99.17"
fnv = "1.0.7"
futures = { version = "0.3.19", package = "futures" }
hex = "0.4.3"
ipfs-embed = { version = "0.25.0", default-features = false, features = ["tokio"] }
ipfs-sqlite-block-store = "0.13.0"
itertools = "0.10.3"
libipld = { version = "0.14.0" }
libp2p = { version = "0.49.0", default-features = false, features = ["tcp", "tokio", "plaintext", "noise", "dns"] }
maplit = "1.0.2"
names = "0.13.0"
num-traits = "0.2.14"
parking_lot = "0.12.1"
prometheus = "0.13.0"
rayon = "1.5.1"
rusqlite = { version = "0.26.3", features = ["bundled", "backup"] }
serde = { version = "1.0.133", features = ["derive"] }
serde_cbor = "0.11.2"
serde_json = "1.0.79"
smallvec = { version = "1.10.0", features = ["const_generics", "write"] }
tokio = { version = "1.15.0", features = ["full"], package = "tokio" }
tracing = { version = "0.1.29", features = ["max_level_trace", "release_max_level_trace"] }
trees = { path = "../trees" }
trust-dns-resolver = "0.22.0"
unixfs-v1 = "0.3.0"
util = { path = "../util" }
zstd = "0.9.2"

if-watch = { version = "2", features = ["tokio"] }

[dev-dependencies]
chrono = "0.4.19"
pretty_assertions = "1.0.0"
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
rand = "0.8.4"
serde_json = "1.0.74"
swarm-old-formats = { path = "./old-formats" }
tempfile = "3.3.0"
tokio = { version = "1.15.0", features = ["full", "test-util"], package = "tokio" }
